{templateType App\UI\Backend\Sign\SignTemplate}
{varType Drago\Application\UI\Flashes[] $flashes}
{import '../../../Core/Widget/@lang.switch.latte'}

<!DOCTYPE html>
<html lang="{$lang}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title n:snippet="title">{ifset title}{include title|stripHtml|firstUpper} &bull;{/ifset} Project</title>

	{asset 'sign-in.js'}
</head>

<body>

{* main content *}
<div class="sign-in mt-5 bg-white shadow-sm rounded-3" n:snippet="body">
	<div class="bg-light p-3 mb-2">
		<div class="d-flex">
			<div class="ps-1 pe-1 flex-grow-1 text-primary">
				{include title}
			</div>
			<div class="ps-1 pe-1">
				{include LangSwitch, lang: 'cs', name: 'Czech'}
				<span class="small ps-1 pe-1 text-secondary">&#124;</span>
				{include LangSwitch, lang: 'en', name: 'English'}
			</div>
		</div>
	</div>

	<div class="p-3">

		{* flash messages *}
		{snippet message}
			{include '../../../Core/Widget/@toast.latte', messages: $flashes}
		{/snippet}

		{* page content *}
		{include content}
	</div>
</div>

{* footer info *}
<footer class="fixed-bottom bg-white pt-3 pb-1 text-muted">
	<p class="text-center font-weight-bold">&copy {=date('Y')}</p>
</footer>

</body>
</html>
