{* subtitle sites *}
{block title}{_'Login to the system'}{/block}

{* website content *}
{block content}
	{embed ../../../Core/Widget/@form.latte, name: 'signIn'}
		{block form}
			{include input, type: text, name: 'email'}
			{include input, type: text, name: 'password'}
			<div class="d-grid gap-1">
				{include input, type: submit, name: 'send'}
				<a n:href="up" class="btn btn-link text-end">{_'Sign up'}</a>
			</div>
		{/block}
	{/embed}
{/block}
