<p n:block="title" class="m-0 fw-semibold">
    {_'You have been signed out'}
</p>

{block content}
    <div class="text-end">
        <a n:href="in" class="btn btn-sm btn-primary ajax" data-link-disable>
            {_"Back to sign in"}
        </a>
    </div>
{/block}
