{varType App\UI\Backend\Sign\Recovery\Token $signRecoveryToken}

<p n:block="title" class="m-0 fw-semibold">
    {_'Forgot password'}
</p>

{block content}
    {if !$signRecoveryToken->hasToken}
        {embed '../../../Core/Widget/@form.latte', name: 'signRecoveryRequest', class: 'ajax', najaHistory: 'off'}
            {block form}
                {include input, name: 'email'}
                <div class="d-grid gap-1">
                    {include submit, name: 'send'}
                </div>
            {/block}
        {/embed}

        <p class="m-0">
            <a n:href="in" class="btn btn-link p-0 text-start ajax" data-link-disable>{_'Back to sign in'}</a>
        </p>

    {elseif !$signRecoveryToken->isTokenChecked}
        {embed '../../../Core/Widget/@form.latte', name: 'signRecoveryCheckToken', class: 'ajax', najaHistory: 'off'}
            {block form}
                {include input, name: 'token'}
                <div class="d-grid gap-1">
                    {include submit, name: 'send'}
                </div>
            {/block}
        {/embed}

        <p class="m-0">
            <a n:href="in" class="btn btn-link p-0 text-start ajax" data-link-disable>{_'Back to sign in'}</a>
        </p>

    {else}
        {embed '../../../Core/Widget/@form.latte', name: 'signRecoveryChangePassword', class: 'ajax', najaHistory: 'off'}
            {import '../../../Core/Widget/@form-password.latte'}
            {block form}
                {include password-toggle, name: 'password'}
                {include password-toggle, name: 'verify'}
                <div class="d-grid gap-1">
                    {include submit, name: 'send'}
                </div>
            {/block}
        {/embed}

        <p class="m-0">
            <a n:href="in" class="btn btn-link p-0 text-start ajax" data-link-disable>{_'Back to sign in'}</a>
        </p>

    {/if}
{/block}
