//
// colors and customize bootstrap
//

// bootstrap
@import 'node_modules/bootstrap/scss/functions';

// colors
$color-blue:  #2197f4;
$color-light: #f4f4f4;
$color-error: #ff3e59;
$color-white: #fff;
$body-color: #3a3a3a;

// re-settings bootstrap
$border-radius: 0.1875rem;

$alert-border-width: 0;
$alert-padding-x: 1rem;
$alert-padding-y: 0.56rem;

@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/root';

// Create your own map
$custom-colors: (
		"primary": $color-blue
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// sidebar-menu
@import 'node_modules/sidebar-menu-compostrap/scss/utils/variables';
@import 'node_modules/sidebar-skeleton-compostrap/scss/utils/variables';
@import 'node_modules/sidebar-skeleton-compostrap/scss/utils/functions';

// bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';
