@import "base/base/base";

body {
  margin-top: rem(45);
}

.steps-ico {
  display: none;
  color: $color-blue;
  background-color: $color-light;
  width: rem(285);
  height: rem(285);
  text-align: center;
  position: relative;
  margin-left: rem(50);
  padding-top: rem(38);
  border-radius: 50%;
  font-size: rem(130);
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.steps-ico:after {
  content: '';
  z-index: -999;
  position: absolute;
  left: 0;
  top: 20%;
  width: 0;
  height: 0;
  border: rem(120) solid transparent;
  border-right-color: $color-light;
  border-left: 0;
  border-bottom: 0;
  margin-top: 0;
  margin-left: - rem(60);
}

.header {
  height: rem(45);
}

.main {
  padding: rem(35) rem(70) 0;
  @include media-breakpoint-up(md) {
    padding-top: rem(95);
  }
}
