@import 'base/base/base';

html,
body {
  height: 85%;
}

body {
  display: flex;
  align-items: center;
  background-color: $color-light;
}

.sign-in {
  width: 100%;
  max-width: rem(400);
  margin: auto;
}

.text-separate {
  color: #ccc;
}
