@import "bootstrap/scss/bootstrap";

//
// base style
//

.errors {
  background-color: var(--bs-danger);
  color: var(--bs-white);
  font-weight: 600;
  list-style: none;
  padding: 0.25rem 0.5rem;
  border-radius: var(--bs-border-radius-sm);
}

.invalid-feedback {
  display: block;
}
