services:
	permissionFactory:
		class: App\Core\Permission\PermissionFactory
		arguments:
			initializers: tagged(PermisionTag)

	- @permissionFactory::create


search:
	permissions:
		in: %appDir%/UI
		classes: [*Permission]
		tags: [PermisionTag]
