services:

	router: {setup: {offsetSet(null, @router.admin)}}
	router.admin: {factory: Module\Admin\Router::create, autowired: no}

	# size in pixels, defaults to 80px [ 1 - 2048 ]
	# default imageset to use [ 404 | mm | identicon | monsterid | wavatar ]
	# maximum rating (inclusive) [ g | pg | r | x ]
	- Supplement\Gravatar('80', 'mm', 'g')
