<!DOCTYPE html>
<html lang="{$lang}">
<head>
	<meta charset="utf-8">
	<meta name="description" content="{ifset $web}{$web->description}{/ifset}">
	<meta name="author" content="Zdeněk Papučík, zdenek.papucik@gmail.com">

	{* mobile specific metas *}
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{* favicon *}
	<link rel="icon" type="image/png" href="{$basePath}/www/">

	{* cascading style sheets *}
	<link rel="stylesheet" href="{$basePath}/www/">

	{* website title and subtitle *}
	<title>{include subtitle|stripHtml|firstUpper}{ifset $web} | {$web->website}{/ifset}</title>
</head>
<body>
	<p n:foreach="$flashes as $flash" class="flash {$flash->type}">{_$flash->message}</p>

	{* content block *}
	{include content|indent:1}

	{* javascript libraries and plugins *}
	<script src="{$basePath}/www/"></script>
</body>
</html>
