//
// colors and customize bootstrap
//

$color-blue:  #2197f4;
$color-light: #f4f4f4;
$color-error: #ff3e59;
$color-white: #fff;

// add custom button to bootstrap
$theme-colors: (
        'custom': $color-blue,
);

// re-settings bootstrap
$border-radius: 0.1875rem;
$input-btn-focus-width: 0;

// sidebar-menu
@import '../../../../node_modules/sidebar-menu-compostrap/scss/utils/variables';
@import '../../../../node_modules/sidebar-skeleton-compostrap/scss/utils/variables';
@import '../../../../node_modules/sidebar-skeleton-compostrap/scss/utils/functions';

// bootstrap
@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';
