
{* subtitle page *}
{block subtitle}{_'admin.module'}{/block}

{* website content *}
{block content}

	<div class="box style">
		<h4>{_'admin.module'}</h4>
		<p>{$user->identity->data['realname']}
			<a n:href=":Admin:Login:out">{_'admin.logout'}</a>
		</p>
	</div>

{/block}
