{define buttonDismiss, string $type, ?string $name = null, ?string $class = null}
    {do $attrs = [
        'type' => 'button',
        'class' => $class ?? 'btn btn-outline-secondary me-1',
        'data-bs-dismiss' => $type
    ]}
    <button n:attr="$attrs">
        {$name ?? 'Close'}
    </button>
{/define}
