{varType string $name}
{varType string $class}
{varType string $najaHistory}
{varType Nette\Application\UI\Form $form}
{default bool $defaultClass = true}

{do $formAttr = [
    'data-naja-history' => $najaHistory ?? null,
]}

<form n:name="$name" n:class="$defaultClass ? 'row g-3' : null, $class ?? null" n:attr="$formAttr">
    <ul n:if="$form->hasErrors()" class="errors">
        <li n:foreach="$form->errors as $error">{_$error}</li>
    </ul>

    {* Block for form rendering *}
    {block form}{/block}
</form>

{* General form field definition (input, select, textarea) using switch *}
{define input, string $type = 'text', string $name, int $columns = 12, string $class, int $rows = 3}
    <div class="col-md-{$columns}">
        {label $name, class => "form-label fw-semibold" /}
        {do $inputClass = "form-control"}

        {if $type in ['text', 'datetime', 'file']}
            {input $name, class => $class
            ? "$inputClass $class"
            : "$inputClass"}

        {elseif $type === 'select'}
            {do $inputClass = "form-select"}
            {input $name, class => $class
            ? "$inputClass $class"
            : "$inputClass"}

        {elseif $type === 'textarea'}
            {input $name, rows => $rows, class => $class
            ? "$inputClass $class"
            : "$inputClass"}
        {/if}
    </div>
{/define}

{define submit, string $name, string $class}
    {do $inputClass = "btn btn-primary"}
    {input $name, data-btn-submit => true, class => $class
    ? "$class"
    : "$inputClass"}
{/define}
