{* https://getbootstrap.com/docs/5.3/components/modal/ *}
{varType string $modalId}
{varType array $options}
{do $labelId = $modalId . 'Label'}
{do $modalAttrs = [
	'class' => 'modal fade',
	'id' => $modalId,
	'tabindex' => '-1',
	'aria-labelledby' => $labelId,
	'aria-hidden' => 'true',
	'data-bs-backdrop' => 'static',
	'data-bs-keyboard' => 'false',
	'data-bs-theme' => 'light'
]}

{do $modalCloseBtnAttrs = [
	'type' => 'button',
	'class' => 'btn-close',
	'data-bs-dismiss' => 'modal',
	'aria-label' => 'Close'
]}

{do $headerTheme = $options['header'] ?? 'none'}
{do $headerThemes = [
	'danger' => 'bg-danger text-white',
	'primary' => 'bg-primary text-white',
	'success' => 'bg-success text-white',
	'none' => null
]}

<div n:attr="$modalAttrs">
	<div class="modal-dialog">
		<div class="modal-content">

			<div n:class="modal-header, $headerThemes[$headerTheme]">
				<h1 class="modal-title fs-5" id="{$labelId}">{block title}{/block}</h1>
				<button n:attr="$modalCloseBtnAttrs"></button>
			</div>

			<div class="modal-body">{block body}{/block}</div>
			<div class="modal-footer">{block footer}{/block}</div>

		</div>
	</div>
</div>
