{varType Drago\Application\UI\Flashes[] $flashes}
{do $toastAttrs = [
    'id' => 'toastContainer',
    'class' => 'toast-container position-fixed top-0 end-0 p-3',
    'aria-live' => 'polite',
    'aria-atomic' => 'true',
]}

{do $toastButtonAttrs = [
    'type' => 'button',
    'class' => 'btn-close btn-close-white me-2 m-auto',
    'data-bs-dismiss' => 'toast',
    'aria-label' => 'Close'
]}

<div n:attr="$toastAttrs">
    {foreach $flashes as $flash}
        {do $toastItemAttrs = [
            'class' => 'toast text-bg-' . $flash->type,
            'role' => 'alert',
            'aria-live' => 'assertive',
            'aria-atomic' => 'true',
            'data-bs-delay' => '3000',
            'data-bs-autohide' => 'true',
        ]}
        <div n:attr="$toastItemAttrs">
            <div class="d-flex">
                <div class="toast-body">{$flash->message}</div>
                <button n:attr="$toastButtonAttrs"></button>
            </div>
        </div>
    {/foreach}
</div>
