{embed '../../Widgets/@forms.latte', name: 'factory'}
	{block form-content}
		{include form-errors-redraw}
		{include input-text, name: 'name', columns: 6}
		{include input-select, name: 'parent', columns: 6}
		{include input-submit, name: 'send', columns: 12, buttonCanvas: true}
	{/block}
{/embed}
