"Sign out": "Odhlásit se"
"Dashboard": "Administrace"
"Users roles": "Uživatelské role"

# datagrid
"No items": "Žádné položky"
"Showing": "Zobrazeno"
"of": "z"
"items": "položek"

# filters
"Reset": "Resetovat"
"Search...": "Hledat..."
"All": "Vše"

# pagination
"Previous": "Předchozí"
"Next": "Další"
"Items per page": "Položek na stránku"
