
# install module
services:

	router: {setup: {offsetSet(null, @router.install)}}
	router.install: {factory: Install\Module\Router::create(%routers%), autowired: no}

	install.cache:
		class: Nette\Caching\Cache
		arguments: [@Nette\Caching\IStorage, 'Install.CacheSteps']

	- Install\Service\Steps(@install.cache)
	- Install\Service\Query
	- Install\Factory

	- Drago\Http\Sessions(@Nette\Http\Session, 'db.prefix')
	- Nette\DI\Config\Loader
