services:

	router: {setup: {offsetSet(null, @router.install)}}
	router.install: {factory: App\Modules\Install\Router::create, autowired: no}

	# cache for install steps
	install.cache: {class: Nette\Caching\Cache, arguments: [@Nette\Caching\IStorage, 'Install.CacheSteps'], autowired: no}

	- App\Modules\Install\Presenters\Control\Database\DatabaseControl
	- App\Modules\Install\Presenters\Control\Tables\TablesControl
	- App\Modules\Install\Presenters\Control\Website\WebsiteControl
	- App\Modules\Install\Presenters\Control\Account\AccountControl

	- App\Modules\Install\Services\Steps(@install.cache)
	- Nette\DI\Config\Loader
