services:

	router: {setup: {offsetSet(null, @router.install)}}
	router.install: {factory: App\Modules\Install\Router::create, autowired: no}

	# cache for install steps
	install.cache: {class: Nette\Caching\Cache, arguments: [@Nette\Caching\IStorage, 'Install.CacheSteps'], autowired: no}

	- App\Modules\Install\Steps(@install.cache)
	- Nette\DI\Config\Adapters\NeonAdapter


# application settings
application:

	# application mapping
	mapping:
		Install: ['App\Modules', '*', '*\*Presenter']
