{* subtitle sites *}
{block subtitle}{_'Login to the system'}{/block}

{* website content *}
{block content}
{embed '../../../../UI/Widgets/@form.latte', name: 'signIn'}
	{block form}
		{include input, name: 'email', columns: 12}
		{include input, name: 'password', columns: 12}
		<div class="d-grid mt-3">
			<input n:name="send" class="btn btn-primary text-white" data-btn-submit>
		</div>
	{/block}
{/embed}
