{* subtitle sites *}
{block title}{_'New account registration'}{/block}

{* website content *}
{block content}
{embed '../../../../UI/Widgets/@form.latte', name: 'up'}
	{block form}
		{include input, name: 'username'}
		{include input, name: 'email'}
		{include input, name: 'password'}
		{include input, name: 'verify'}
		<div class="d-grid gap-1">
			{include submit, name: 'send'}
			<a n:href="in" class="btn btn-link text-start">{_'Back'}</a>
		</div>
	{/block}
{/embed}
