services:

	router: {setup: {offsetSet(null, @router.install)}}
	router.install: {factory: Module\Install\Router::create, autowired: no}

	# cache for install steps
	install.cache: {class: Nette\Caching\Cache, arguments: [@Nette\Caching\IStorage, 'Install.CacheSteps'], autowired: no}

	- Module\Install\Control\DatabaseControl
	- Module\Install\Control\TablesControl
	- Module\Install\Control\WebsiteControl
	- Module\Install\Control\AccountControl

	- Module\Install\Service\Steps(@install.cache)
	- Nette\DI\Config\Loader
