{templateType App\UI\Front\Home\HomeTemplate}
{varType Drago\Application\UI\Flashes[] $flashes}
{import '../../Core/Widget/@lang.switch.latte'}

<!doctype html>
<html lang="{$lang}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{ifset title}{include title|stripHtml|firstUpper} &bull;{/ifset} Frontend</title>

	{asset 'front.js'}
</head>

<body>

{* main content *}
<main role="main" class="mt-3 container">

	{* flash messages *}
	{snippet message}
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	{/snippet}

	{* page content *}
	{include content}
</main>

{* footer info *}
<footer class="text-center mt-4 text-muted small">
	✨ Vite + Nette &mdash; ready to code!
</footer>

</body>
</html>
