# subtitle page
'Dashboard': 'Administrace'
'Login to the system': 'Přihlášení do systému'
'Access settings': 'Nastavení přístupů'
'Roles settings': 'Nastavení rolí'
'Resources settings': 'Nastavení zdrojů'
'Privileges settings': 'Nastavení signalů a akcí'
'Setting roles for users': 'Nastavení rolí uživatelů'

# form
'Email': 'Email'
'Email address': 'Emailová adresa'
'Password': 'Heslo'
'Your password': 'Vaše heslo'
'Sign in': 'Přihlásit se'

# form rule
'This field is required.': 'Vyplňte prázdné pole.'
'Please enter a valid email address.': 'Zadejte email ve správném tvaru.'

# form error
'User not found.': 'Uživatel nebyl nalezen.'
'The password is incorrect.': 'Zadané heslo neodpovídá.'
'Unknown status code.': 'Neznámý stavový kód.'

# sign in
'Welcome!': Vítejte!
'Welcome back!': Vítejte zpět!

# admin
'Sign out': 'Odhlásit se'
'User': 'Uživatel'
'Translate': 'Překlad'
'System': 'Systém'

# access colntrol
'Edit or add permissions': 'Upravit nebo přidat oprávnění'
'Select role': 'Volba role'
'Select privilege': 'Volba signalů nebo akcí'
'Select resource': 'Volba zdroje'
'Select permission': 'Volba oprávnění'
'Allowed': 'Povolit'
'Not allowed': 'Zakázat'
'Resource': 'Zdroj'
'Action / signal': 'Akce / signál'
'Permission': 'Oprávnění'
'Action': 'Akce'
'Edit': 'Upravit'
'No': 'Ne'
'Yes': 'Ano'
'Delete': 'Smazat'
'Permission was updated.': 'Oprávnění aktualizováno.'
'Permission removed.': 'Oprávnění smazáno.'
'Permission added.': 'Oprávnění vloženo.'
'Edit or add roles': 'Upravit nebo přidat role'
'Role name': 'Název role'
'Select parent': 'Zvolit rodiče'
'Send': 'Odeslat'
'Roles': 'Role'
'The role is not allowed to be updated.': 'Roli není povoleno aktualizovat.'
'The role cannot be deleted because it is bound to another role.': 'Roli nelze odstranit, protože je svázána s jinou rolí.'
'This role already exists.': 'Tato role již existuje.'
'The role was inserted.': 'Role byla vložena.'
'Role updated.': 'Role aktualizována.'
'Role deleted.': 'Role smazána.'
'The role is not allowed to be deleted.': 'Roli nelze smazat.'
'Name': 'Název'
'Parent': 'Rodič'
'Resources': 'Zdroje'
'Source name': 'Název zdroje'
'Edit or add resources': 'Upravit nebo přidat zdroje'
'Resource updated.': 'Zdroj aktualizován.'
'Resource inserted.': 'Zdroj vložen.'
'This resource already exists.': 'Tento zdroj již existuje.'
'Resource deleted.': 'Zdroj smazán.'
'The resource can not be deleted, you must first delete the records that are associated with it.': 'Zdroj nelze odstranit, musíte nejprve odstranit záznamy, které jsou s ním spojeny.'
'Edit or add privileges': 'Upravit nebo přidat signál'
'Privileges': 'Signaly a akce'
'Action or signal': 'Akce nebo signál'
'The privilege is not allowed to be updated.': 'Aktualizace akce nebo signálu není povolena.'
'The privilege is not allowed to be deleted.': Akci nebo signál nelze smazat.
'Privilege updated.': 'Akce aktualizována.'
'Privilege inserted.': 'Akce vložená.'
'This privilege already exists.': 'Tato akce již existuje.'
'Privilege deleted.': 'Akce smazána.'
'The privilege can not be deleted, you must first delete the records that are associated with it.': 'Akci nebo signál nelze smazat, musíte nejprve smazat záznamy, které jsou s ním spojeny.'
'Edit or add roles to users': 'Upravit nebo přidat role uživatelům'
'Select user': 'Volba uživatele'
'List of assigned roles': 'Seznam přidělených rolí'
'Username': 'Uživatel'
'Access was updated.': 'Uživatel aktualizován.'
'Access added.': 'Uživatel vložen.'
'Access removed.': 'Uživatel vymazán.'
'Permissions': 'Oprávnění'
'Users': 'Uživatelé'
'Access control': 'Oprávnění'
'Allow': 'Povoleno'
'Deny': 'Zakázano'
'Confirm': 'Potvrdit'
