# default form messages
'Please enter %s.': 'Zadejte %s.'
'This value should not be %s.': 'Tato hodnota by neměla být %s.'
'This field is required.': 'Toto pole je povinné.'
'This field should be blank.': 'Toto pole by mělo být prázdné.'
'Please enter at least %d characters.': 'Zadejte prosím alespoň %d znaků.'
'Please enter no more than %d characters.': 'Zadejte prosím maximálně %d znaků.'
'Please enter a value between %d and %d characters long.': 'Zadejte prosím hodnotu %d až %d znaků dlouho.'
'Please enter a valid email address.': 'Zadejte platnou e-mailovou adresu.'
'Please enter a valid URL.': 'Zadejte prosím platné URL.'
'Please enter a valid integer.': 'Zadejte platné celé číslo.'
'Please enter a valid number.': 'Zadejte platné číslo.'
'Please enter a value greater than or equal to %d.': 'Zadejte prosím hodnotu větší nebo rovnou %d.'
'Please enter a value less than or equal to %d.': 'Zadejte prosím hodnotu menší nebo rovnou %d.'
'Please enter a value between %d and %d.': 'Zadejte hodnotu mezi %d a %d.'
'The size of the uploaded file can be up to %d bytes.': 'Velikost nahraného souboru může být nejvýše %d bytů.'
'The uploaded data exceeds the limit of %d bytes.': 'Nahraná data překračují limit %d bytů.'
'The uploaded file is not in the expected format.': 'Nahraný soubor není v očekávaném formátu.'
'The uploaded file must be image in format JPEG, GIF, PNG or WebP.': 'Nahraný soubor musí být obraz ve formátu JPEG, GIF, PNG nebo WebP.'
'Please select a valid option.': 'Vyberte prosím platnou možnost.'
'An error occurred during file upload.': 'Při nahrávání souboru došlo k chybě.'
'Your session has expired. Please return to the home page and try again.': 'Vaše relace vypršela. Vraťte se na domovskou stránku a zkuste to znovu.'

# sign module
'Login to the system': 'Přihlaste se do systému'
'Email address': 'Emailová adresa'
'Password': 'Heslo'
'Your password': 'Vaše heslo'
'Sign in': 'Přihlásit se'
'User not found.': 'Uživatel nenalezen.'
'The password is incorrect.': 'Heslo je nesprávné.'

# global
'Unknown status code.': 'Neznámý stavový kód.'
'No records found.': 'Záznamy nebyly nalezeny.'
'Action': 'Akce'
'Edit': 'Upravit'
'Delete': 'Smazat'
'Confirm': 'Smazat?'
'No': 'Ne'
'Yes': 'Ano'
'Add': 'Přidat záznam'
'Send': 'Odeslat'
'Cancel': 'Zrušit'

# admin
'Dashboard': 'Administrace'
'Translate': 'Překlad'
'Languages': 'Jazyk'
'Czech': 'Čeština'
'English': 'Angličtina'
'Access control': 'Řízení přístupů'
'Permissions': 'Oprávnění'
'Roles': 'Role'
'Resources': 'Zdroje'
'Privileges': 'Signaly a akce'
'Users': 'Uživatelé'
'User': 'Uživatel'
'System': 'Systém'
'Sign out': 'Odhlásit se'
'Name': 'Název'

# access
'Edit or add permissions': 'Upravit nebo přidat oprávnění'
'Authorization has been changed.': 'Autorizace byla změněna.'
'Resource': 'Zdroj'
'Actions and signals': 'Akce a signály'
'Permission': 'Oprávnění'
'Select roles': 'Vyberte roli'
'Select privilege': 'Vyberte signál nebo akci'
'Select resource': 'Vyberte zdroj'
'Select permission': 'Vyberte oprávnění'
'Deny': 'Zakázat'
'Denied': 'Zakázano'
'Allow': 'Povolit'
'Allowed': 'Povoleno'
'Permission was updated.': 'Oprávnění bylo aktualizováno.'
'Permission added.': 'Povolení přidáno.'
'Permission removed.': 'Oprávnění odebráno.'
'This permission is already granted.': 'Toto oprávnění je již uděleno.'
'Edit or add roles': 'Upravit nebo přidat role'
'Parent': 'Rodič'
'Role name': 'Název role'
'Select parent': 'Vyberte rodiče'
'The role is not allowed to be updated.': 'Roli není povoleno aktualizovat.'
'The role is not allowed to be deleted.': 'Roli nelze smazat.'
'The role cannot be deleted because it is bound to another role.': 'Roli nelze odstranit, protože je svázána s jinou rolí.'
'All': 'Vše'

'This role already exists.': 'Tato role již existuje.'
'Role deleted.': 'Role smazána.'
'Role updated.': 'Role aktualizována.'
'The role was inserted.': 'Role byla vložena.'
'Edit or add resources': 'Upravte nebo přidejte zdroje'
'Source': 'Zdroj'
'Source name': 'Název zdroje'
'Resource deleted.': 'Zdroj smazán.'
'The resource can not be deleted, you must first delete the records that are associated with it.':
	'Zdroj nelze odstranit, musíte nejprve odstranit záznamy, které jsou s ním spojeny.'

'Resource updated.': 'Zdroj aktualizován.'
'Resource inserted.': 'Zdroj vložen.'
'This resource already exists.': 'Tento zdroj již existuje.'
'Action or signal': 'Akce nebo signály'
'Name action or signal': 'Název akce nebo signálu'
'The privilege is not allowed to be updated.': 'Aktualizace oprávnění není povolena.'
'Privilege deleted.': 'Záznam vymazán.'
'The privilege is not allowed to be deleted.': 'Položku nelze smazat.'
'The privilege can not be deleted, you must first delete the records that are associated with it':
	'Záznam nelze smazat, musíte nejprve smazat záznamy, které jsou s ním spojeny'

'Privilege updated.': 'Záznam aktualizován.'
'Privilege inserted.': 'Záznam vložen.'
'This privilege already exists.': 'Tato akce nebo singál již existuje.'
'Edit or add privileges': 'Upravit nebo přidat akce a signály'
'Username': 'Uživatel'
'List of assigned roles': 'Seznam přidělených rolí'
'Edit or add roles to users': 'Upravit nebo přidat role uživatelům'
'Role removed.': 'Role odebrána.'
'Role assigned.': 'Role přidělena.'
'Roles have been updated.': 'Role byli aktualizovány.'
'The user already has this role assigned.': 'Uživatel již má tuto roli přiřazenou.'
'Select user': 'Volba uživatele'
'The privilege can not be deleted, you must first delete the records that are associated with it.':
	'Záznam nelze smazat, musíte nejprve smazat záznamy, které jsou s ním spojeny.'


# datagrid
'ublaboo_datagrid.reset_filter': 'Reset'
'ublaboo_datagrid.items': 'Položky'
'ublaboo_datagrid.from': 'z'
'ublaboo_datagrid.all': 'Vše'
'ublaboo_datagrid.action': 'Akce'
'ublaboo_datagrid.no_item_found': 'Data nebyla nalezena.'
'ublaboo_datagrid.here': 'Reset'
'ublaboo_datagrid.no_item_found_reset': 'Data nebyla nalezena, resetujte filtr.'
'ublaboo_datagrid.next': 'Další'
'ublaboo_datagrid.previous': 'Předchozí'
'ublaboo_datagrid.show_filter': 'Zobrazit filtr'
'ublaboo_datagrid.show_all_columns': 'Zobrazit vše'
'ublaboo_datagrid.group_actions': 'Hromadná akce'
'ublaboo_datagrid.choose': 'Zvolit akci'
'ublaboo_datagrid.execute': 'Potvrdit akci'
