# datagrid
'ublaboo_datagrid.reset_filter': 'Reset'
'ublaboo_datagrid.items': 'Položky'
'ublaboo_datagrid.from': 'of'
'ublaboo_datagrid.all': 'All'
'ublaboo_datagrid.action': 'Action'
'ublaboo_datagrid.no_item_found': 'Data not found.'
'ublaboo_datagrid.here': 'Reset'
'ublaboo_datagrid.no_item_found_reset': 'Data not found, reset the filter.'
'ublaboo_datagrid.next': 'Next'
'ublaboo_datagrid.previous': 'Previous'
'ublaboo_datagrid.show_filter': 'Show filter'
'ublaboo_datagrid.show_all_columns': 'Show all'
'ublaboo_datagrid.group_actions': 'Mass action'
'ublaboo_datagrid.choose': 'Choose an action'
'ublaboo_datagrid.execute': 'Confirm action'
