// base sass
@import 'base/base/base';


// base elements
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: rem(150);
  background-color: $color-light;
}

// layout for sign in user
.sign-in {
  width: 100%;
  max-width: rem(400);
  padding: rem(25);
  margin: auto;
  background-color: $color-white;
  @include border-radius($border-radius);
}

.sign-in .sign-in-gravatar {
  border-radius: 50%;
}


// customize form for sign in
.sign-in .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: rem(10);
  @include font-size($font-size);
}
