// base sass
@import 'base/base/base';

// base elements
html,
body {
  height: 85%;
}

body {
  display: flex;
  align-items: center;
  background-color: $color-light;
}

.sign-in {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}

.sign-in .sign-in-gravatar {
  border-radius: 50%;
}

.sign-in .form-control {
  padding: rem(10);
}
