<!doctype html>
<html lang="{$lang}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- build:css {$basePath}/www/css/admin.min.css -->
	<link rel="stylesheet" href="{$basePath}/node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/node_modules/sidebar-skeleton-compostrap/dist/css/sidebar.css">
	<link rel="stylesheet" href="{$basePath}/node_modules/open-sans-fontface/open-sans.css">
	<link rel="stylesheet" href="{$basePath}/node_modules/@fortawesome/fontawesome-free/css/all.css">
	<link rel="stylesheet" href="{$basePath}/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
	<link rel="stylesheet" href="{$basePath}/node_modules/sidebar-menu-2-compostrap/dist/css/sidebar.menu.css">
	<link rel="stylesheet" href="{$basePath}/node_modules/user-logged-compostrap/dist/css/user.logged.css">
	<link rel="stylesheet" href="{$basePath}/node_modules/dashboard-skeleton-compostrap/dist/css/dashbaord.css">
	<!-- /build -->

	<title>{include subtitle|stripHtml|firstUpper}{ifset $settings} &bullet; {$settings->website}{/ifset}</title>
</head>

<body class="bg-light">

<header>
	<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">

		<!-- title -->
		<a class="navbar-brand" href="#"><i class="fab fa-bootstrap mr-1 text-purple"></i>
			<span class="text-purple text-bolder">{_'subtitle'}</span>
		</a>

		<!-- sidebar toggle -->
		<button class="navbar-toggler btn btn-link border-0" type="button" id="sidebar" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- user panel -->
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto">

				<!-- username and avatar -->
				<li class="nav-item nav-item-user"><span class="navbar-text mr-2">{$user->identity->data['realname']}</span></li>
				<li class="nav-item nav-item-avatar"><img src="{$gravatar}" width="34" alt="avatar"></li>

				<!-- dropdown menu -->
				<li class="nav-item dropdown"><a class="nav-link" href="#" data-toggle="dropdown">
						<i class="fas fa-angle-down"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-bg-purple border-0">
						<div class="dropdown-menu-arrow"></div>
						<a class="dropdown-item" href="#">{_'user.profile'}</a>
						<a class="dropdown-item" href="#">{_'user.settings'}</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{link :Admin:Sign:out}">{_'user.logout'}</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</header>

<div class="d-flex wrapper wrapper-navbar-used wrapper-navbar-fixed">
	<nav role="navigation" class="sidebar sidebar-bg-white" id="navigation">

		<!-- sidebar -->
		<div class="sidebar-menu sidebar-rounded-top-right">

			<!--  menu fixed -->
			<div class="sidebar-menu-fixed">

				<!-- menu scrollbar -->
				<div class="scrollbar scrollbar-bg-light">

					<!-- menu -->
					<ul class="list list-unstyled list-bg-light list-bg-menu-purple mb-0">

						<!-- simple menu -->
						<li class="list-item">

							<!-- list title -->
							<p class="list-title text-uppercase">{_'category.language'}</p>

							<!-- list items -->
							<ul class="list-unstyled">
								<li><a n:href="this, 'lang' => 'cs'" n:class="'list-link', $lang === 'cs' ? 'link-current'">{_'menu.cs'}</a></li>
								<li><a n:href="this, 'lang' => 'en'" n:class="'list-link', $lang === 'en' ? 'link-current'">{_'menu.en'}</a></li>
							</ul>
						</li>

						<!-- multi-level dropdown menu -->
						<li class="list-item">

							<!-- list title -->
							<p class="list-title text-uppercase">{_'category.system'}</p>

							<!-- list items, first level -->
							<ul class="list-unstyled">
								<li><a href="#" n:class="'list-link', $presenter->isLinkCurrent(':Admin:Admin:') ? 'link-current'"><span class="list-icon"><i class="fas fa-home"></i></span>{_'menu.admin'}</a></li>
								<li><a href="#" n:class="'list-link', $presenter->isLinkCurrent(':Admin:Admin:settings') ? 'link-current'"><span class="list-icon"><i class="fas fa-tools"></i></span>{_'menu.settings'}</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div class="container-fluid">

		<!-- content -->
		<main role="main">

			<!-- full box -->
			<div class="content-box mb-3 bg-white">
				<h3>Full conent</h3>
				<p>Here is content this website page.</p>
			</div>

			<!-- grid -->
			<div class="row">

				<!-- six box -->
				<div class="mb-3 col-xl-6">
					<div class="content-box bg-white">
						<h3>50% content</h3>
						<p>Here is content this website page.</p>
					</div>
				</div>

				<!-- six box -->
				<div class="mb-3 col-xl-6">
					<div class="content-box bg-white">
						<h3>50% content</h3>
						<p>Here is content this website page.</p>
					</div>
				</div>
			</div>
		</main>

		<!-- license rights, do not delete this piece of code -->
		<footer class="text-right mt-3 mr-3 mb-3">
			<p class="text-silver">Code licensed
				<a href="https://github.com/compostrap/dashboard-skeleton/blob/master/license.md" class="text-muted" target="_blank" rel="license noopener">MIT</a>
			</p>
		</footer>
	</div>
</div>

<!-- build:js {$basePath}/www/js/admin.min.js -->
<script src="{$basePath}/node_modules/jquery/dist/jquery.js"></script>
<script src="{$basePath}/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="{$basePath}/node_modules/sidebar-skeleton-compostrap/dist/js/sidebar.js"></script>
<script src="{$basePath}/node_modules/perfect-scrollbar/dist/perfect-scrollbar.js"></script>
<script src="{$basePath}/node_modules/nanobar/nanobar.js"></script>
<script src="{$basePath}/node_modules/sidebar-menu-compostrap/dist/js/sidebar.menu.js"></script>
<!-- /build -->

<script>
	$(function() {
		new Nanobar().go(100);
		new PerfectScrollbar('.scrollbar');
	});
</script>

</body>
</html>
