{* database server settings *}
{embed '../../../../UI/Widgets/@form.latte', name: 'database', class: 'ajax mt-5'}
	{block form}
		{include input, name: 'host', columns: 6}
		{include input, name: 'user', columns: 6}
		{include input, name: 'database', columns: 6}
		{include input, name: 'password', columns: 6}
		{include submit, name: 'send', columns: 12, buttonCanvas: false}
	{/block}
{/embed}
