{var Nette\Application\UI\Presenter $presenter}
{define LangSwitch, string $lang, string $name}
	<a n:href="this, 'lang' => $lang" n:class="$presenter->isLinkCurrent() ? 'fw-bolder'">
		{$name}
	</a>
{/define}
