"Hello, world!": "Ahoj, světě!"

# default form messages
"Please enter %s.": "Zadejte %s."
"This value should not be %s.": "Tato hodnota by neměla být %s."
"This field is required.": "Toto pole je povinné."
"This field should be blank.": "Toto pole by mělo být prázdné."
"Please enter at least %d characters.": "Zadejte prosím alespoň %d znaků."
"Please enter no more than %d characters.": "Zadejte prosím maximálně %d znaků."
"Please enter a value between %d and %d characters long.": "Zadejte prosím hodnotu %d až %d znaků dlouho."
"Please enter a valid email address.": "Zadejte platnou e-mailovou adresu."
"Please enter a valid URL.": "Zadejte prosím platné URL."
"Please enter a valid integer.": "Zadejte platné celé číslo."
"Please enter a valid number.": "Zadejte platné číslo."
"Please enter a value greater than or equal to %d.": "Zadejte prosím hodnotu větší nebo rovnou %d."
"Please enter a value less than or equal to %d.": "Zadejte prosím hodnotu menší nebo rovnou %d."
"Please enter a value between %d and %d.": "Zadejte hodnotu mezi %d a %d."
"The size of the uploaded file can be up to %d bytes.": "Velikost nahraného souboru může být nejvýše %d bytů."
"The uploaded data exceeds the limit of %d bytes.": "Nahraná data překračují limit %d bytů."
"The uploaded file is not in the expected format.": "Nahraný soubor není v očekávaném formátu."
"The uploaded file must be image in format JPEG, GIF, PNG or WebP.": "Nahraný soubor musí být obraz ve formátu JPEG, GIF, PNG nebo WebP."
"Please select a valid option.": "Vyberte prosím platnou možnost."
"An error occurred during file upload.": "Při nahrávání souboru došlo k chybě."
"Your session has expired. Please return to the home page and try again.": "Vaše relace vypršela. Vraťte se na domovskou stránku a zkuste to znovu."
