<!DOCTYPE html>
<html lang="{$lang}">
<head>
	<meta charset="utf-8">
	<meta name="description" content="{ifset $web}{$web->description}{/ifset}">
	<meta name="author" content="Zdeněk Papučík, zdenek.papucik@gmail.com">

	{* mobile specific metas *}
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{* css *}
	<link rel="stylesheet" href="{$basePath}/www/css/cssui.sign.in.min.css">

	{* website title and subtitle *}
	<title>{include subtitle|stripHtml|firstUpper}{ifset $web} | {$web->website}{/ifset}</title>
</head>
<body>
	<div class="container box">

		{* user gravatar *}
		<div class="align center">
			<img src="{$gravatar}" alt="gravatar" class="sign-gravatar">
		</div>

		<div class="align center">
			<h1>{_$welcome}</h1>
			<p>{_'login.to.acc'}</p>
		</div>

		{* flash messages *}
		<div n:foreach="$flashes as $flash" class="message {$flash->type}">{_$flash->message}</div>

		{* include sign in factory *}
		<div class="sign in">
			{include content}
		</div>
	</div>

	{* footer and copyright *}
	<div class="bottom footer">
		<p class="align center">&copy; 2016 - {date(Y)}  Netis</p>
	</div>

	{* javascript libraries and plugins *}
	<script src="{$basePath}/www/js/main.min.js"></script>

	{* include script from template *}
	<script>
		$(function() {

			// nanobar settings
			var nanobar = new Nanobar();
			nanobar.go(100);

			// live form validation
			LiveForm.setOptions({
				messageErrorClass: 'error',
				messageErrorPrefix: '',
				wait: 500
			});

			// nette ajax
			$.nette.init();
		});
	</script>

</body>
</html>
