<!DOCTYPE html>
<html lang="{$lang}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{$basePath}/www/css/base.css">
	<link rel="stylesheet" href="{$basePath}/www/css/sign-in.css">
	<title>{include subtitle|stripHtml|firstUpper}{ifset $web} | {$web->website}{/ifset}</title>
</head>

<body>
<div class="sign-in">
	<div class="text-center mb-4">
		<img src="{$gravatar}" alt="gravatar" class="sign-in-gravatar mb-3">
		<h1 class="display-4">{_$welcome}</h1>
		<p class="text-muted">{_'login.to.acc'}</p>
	</div>

	{* include content block *}
	{snippet sign-in}
		{include content}
	{/snippet}

	{* copyright *}
	<p class="mt-5 mb-3 text-muted text-center">&copy {date(Y)} Netis</p>
</div>

{* javascript libraries and plugins *}
<script src="{$basePath}/www/js/main.js"></script>
<script>
	$(function() {

		// alert message
		//$('.alert').alert();

		console.log('hello');

		// live form validation
		LiveForm.setOptions({
			messageErrorClass: 'form-errors-live',
			messageErrorPrefix: '',
			wait: 500
		});

		// nette ajax
		$.nette.init();
	});
</script>

</body>
</html>
