<!DOCTYPE html>
<html lang="{$lang}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- build:css {$basePath}/www/css/sign.min.css -->
	<link rel="stylesheet" href="{$basePath}/assets/css/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/node_modules/open-sans-fontface/open-sans.css">
	<link rel="stylesheet" href="{$basePath}/assets/css/sign.css">
	<link rel="stylesheet" href="{$basePath}/assets/css/base.css">
	<!-- /build -->

	<title>{include subtitle|stripHtml|firstUpper}{ifset $web} | {$web->website}{/ifset}</title>
</head>

<body>
<div class="sign-in">
	<div class="text-center mb-4">
		<img src="{$gravatar}" alt="gravatar" class="sign-in-gravatar mb-3">
		<h1 class="display-4">{_$welcome}</h1>
		<p class="text-muted">{_'login.to.acc'}</p>
	</div>

	{* include content block *}
	{snippet sign-in}
		{include content}
	{/snippet}

	{* copyright *}
	<p class="mt-5 mb-3 text-muted text-center">&copy {date(Y)} Netis</p>
</div>

<!-- build:js {$basePath}/www/js/app.min.js -->
<script src="{$basePath}/node_modules/jquery/dist/jquery.js"></script>
<script src="{$basePath}/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="{$basePath}/vendor/nette/forms/src/assets/netteForms.js"></script>
<script src="{$basePath}/node_modules/nette.ajax.js/nette.ajax.js"></script>
<script src="{$basePath}/node_modules/live-form-validation/live-form-validation.js"></script>
<script src="{$basePath}/assets/js/spinner-btn.js"></script>
<!-- /build -->

<script>
	$(function() {

		// live form validation
		LiveForm.setOptions({
			messageErrorClass: 'form-errors-live',
			messageErrorPrefix: '',
			wait: 500
		});

		// nette ajax
		$.nette.init();
	});
</script>

</body>
</html>
