
{* subtitle sites *}
{block subtitle}{_'login.module'}{/block}

{* website content *}
{block content}
	{form signIn}

		{* form errors messages *}
		<ul class="errors" n:if="$form->hasErrors()">
			<li n:foreach="$form->errors as $error">{_$error}</li>
		</ul>

		{* form inputs *}
		{input email class => 'full width'}
		{input password class => 'full width'}
		<div class="align right">
			{input send class => 'button common'}
		</div>
	{/form}
{/block}
