//
// steps component
//
.steps
{
  font-size: $font-size-sm;
  font-weight: 600;
  padding-top: ($calc * 5);
  margin: 0;

  @include font-size($font-size);
}

.steps-ico
{
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
}
