# default parameters
parameters:


# settings for sessions
session:
	name: netis-cms
	expiration: 14 days
	savePath: '%tempDir%/sessions'


# application settings
application:

	# application mapping
	mapping:
		*: Module\*\*Presenter


# enabling system container for Tracy bar
di:
	debugger: yes


# application extensions
extensions:
	- Drago\Localization\DI\TranslatorExtension(%appDir%/locale)
	- Drago\Parameters\DI\ParametersExtension(%appDir%, %wwwDir%, %tempDir%)
	- Drago\User\DI\GravatarExtension(80, 'mm', 'g')
	- Drago\Application\UI\DI\FactoryExtension


# automatic class registration
search:
	section:
		in: %appDir%/src
		classes:
			- *Entity
			- *Repository
