# default parameters
parameters:


# settings for sessions
session:
	name: netis-cms
	expiration: 14 days
	savePath: '%tempDir%/sessions'


# application settings
application:

	# application mapping
	mapping:
		*: [App, Modules\*, Presenters\*Presenter]


# enabling system container for Tracy bar
di:
	debugger: yes


# application extensions
extensions:
	- Drago\Localization\DI\TranslatorExtension(translateDir: %appDir%/Locales)
	- Drago\Parameters\DI\ParametersExtension(appDir: %appDir%, wwwDir: %wwwDir%, tempDir: %tempDir%)
	- Drago\User\DI\GravatarExtension(size: 80, defaultImage: 'mm', rating: 'g')
	- Drago\Authorization\DI\AuthorizationExtension


# automatic class registration
search:
	section:
		in: %appDir%/Services/Repository
		classes:
			- *Repository
