
/* form errors
   ========================================================================== */
ul.errors {
    color: #ff3e59;
}

ul.errors li {
    font-weight: 600;
}

span.error {
    background: #ff3e59;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 0.875em;
    font-weight: 600;
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 5px 0 5px 8px;
}

.sign-email span.error {
    border-radius: 0;
    margin: 1px 0 2px 0;
}

.sign-password span.error {
    margin-top: 1px;
}

/* ajax spinner
   ========================================================================== */
#spinner {
    color: rgba(0,0,0,0.1);
    font-size: 60px;
    position: fixed;
    z-index: 999;
}

/* flash messages
   ========================================================================== */
.close-message {
    float: right;
    cursor: pointer;
    margin-top: -2px;
}
