//
// errors style for forms
//

.errors {
  background-color: darken($color-error, 14);
  color: white;
  font-weight: 600;
  list-style: none;
  padding: toRem(4) toRem(8);
  border-radius: toRem(3);
}

.errors-live {
  color: darken($color-error, 18);
  display: block;
  margin-top: toRem(4);
  padding: toRem(6) 0;
  font-weight: 600;
  @include font-size($font-size-sm);
  @include border-radius($border-radius);
}
