{templateType App\UI\Backend\Admin\AdminTemplate}

{block content}
{embed ../../../Core/Widget/@content.latte}
    {block content}
        <h5 n:block="title" class="border-bottom pb-2">{_'Dashboard'}</h5>
        <p>Here is content this website page.</p>
    {/block}
{/embed}
