@import "core/base";
@import "naja/spinner";
@import "drago-form/styles/password-toggle";

//
// sign in style
//

html,
body {
  height: 85%;
}

body {
  display: flex;
  align-items: center;
  background-color: var(--bs-light);
}

.sign-in {
  width: 100%;
  max-width: 25rem;
  margin: auto;
}
