//
// custom container layout
//

.container-install {
  margin-top: rem(10);
  padding-bottom: rem(10);
  @include media-breakpoint-up(md) {
    margin-top: rem(105);
  }
}

.container-install-heading {
  color: darken($color-white, 60);
  margin-bottom: rem(25);
  font-weight: normal;
  @include font-size(50);
}

.container-fluid-install {
  padding: 0;
}
