//
// info for delete files after install
//

.info-install-delete {
  padding: rem(15);
  margin-bottom: rem(15);
  background-color: $color-light;
  @include border-radius($border-radius);
}

.alert-install,
.logo {
  font-weight: 600;
}
