{* subtitle page *}
{block title}{_'Resources'}{/block}

{* website content *}
{block content}
	{embed ../../../Core/Widget/@content.latte}
		{block content}
			{control resourcesControl}
		{/block}
	{/embed}
{/block}
