# subtitle page
"System installation": "Instalace systému"

# template layout
"Installation step": "Krok instalace"

# template default
"Information before installing the system": "Informace před zahájením instalace systému"
"Welcome, please prepare your database server data before installing the system.":
	"Vítejte, dříve než začnete s instalací systému, si prosím připravte údaje k Vašemu databázovému serveru."

"However, if you do not have them for some reason, you may need to create the database manually through hosting administration.":
	"Pokud údaje nemáte, je možné, že bude nutné nejdříve vytvořit databázi ručně v administraci Vašeho hostingu."

"Start with installation": "Zahájit instalaci"
"Database settings": "Nastavení databáze"
"If there is a problem with database server authentication, please contact your web hosting vendor to verify the correctness of the data.":
	"Pokud se vyskytne problém s ověřením, kontaktujte prosím Vašeho poskytovatele hostingu pro ověření správnosti údajů."

"Database installation": "Instalace databáze"
"Before installing the database, please verify that your database server has an empty database or uses other table prefixes.":
	"Před instalací se prosím ujistěte, že je cílová databáze prázdná, nebo zda používáte odlišné prefixy tabulek."

"Database installation was successful.": "Instalace databáze proběhla úspěšně!"
"Database installation failed.": "Instalace databáze selhala."

"If the table names match your table in the database, you will not be able to upload the database.":
	"Pokud se názvy nových tabulek budou shodovat se stávajícími, nebude možné instalaci dokončit."

"Start installation": "Spustit instalaci"
"Instalace proběhla úspěšně!": "Instalace databáze byla úspěšně dokončena."
"Instalace selhala.": "Instalace databáze selhala."

"Site name and description": "Název a popis webu"
"Please enter basic information for the website.": "Zadejte prosím základní informace o Vašem webu."
"Sign up": "Registrace"
"Administrator account registration.": "Vytvoření účtu administrátora."
"Installation successfully completed": "Instalace byla úspěšně dokončena"
"The system has been successfully installed and configured. Click the button below to finalize the process and proceed to the administration area.":
	"Systém byl úspěšně nainstalován a zkonfigurován. Kliknutím na tlačítko níže dokončíte proces a budete přesměrováni do administrace."
"Delete the following files:": "Odstraňte tyto soubory a složky:"
"Go to administration": "Přejít do administrace"

# component database
"Database server": "Databázový server"
"Username": "Uživatelské jméno"
"Password": "Heslo"
"Database name": "Název databáze"
"Connection test": "Test připojení"
"Database settings were successful.": "Nastavení databáze bylo úspěšně uloženo."
"Access denied, check database settings.": "Přístup byl odepřen, zkontrolujte prosím nastavení."
"Failed to verify database username or password.": "Nepodařilo se ověřit přihlašovací údaje k databázi."
"The database name does not exist.": "Zadaná databáze neexistuje."
"The database server did not respond.": "Databázový server neodpovídá."

# component tables
"Upload database": "Nahrát databázi"
"Some table names already exist in the database.": "Některé tabulky v databázi již existují."

# component website
"Site name": "Název webu"
"Site description": "Popis webu"
"Save data": "Uložit nastavení"
"Site settings successful.": "Nastavení webu bylo úspěšně uloženo."

# component account
"Email address": "E-mailová adresa"
"Please enter a valid email address.": "Zadejte prosím platnou e-mailovou adresu."
"Password to check": "Heslo pro kontrolu"
"Passwords do not match.": "Zadaná hesla se neshodují."
"Registration": "Dokončit registraci"
"Account administrator registration successful.": "Registrace administrátora byla úspěšná."
"Password must be at least %d characters long.": "Heslo musí mít minimálně %d znaků."
"Your password": "Vaše heslo"
"Full name": "Celé jméno"

# general
"Unknown status code.": "Neznámý stavový kód."
"This field is required.": "Toto pole je povinné."
