{templateType App\Modules\Backend\Access\AccessTemplate}

{* subtitle page *}
{block subtitle}{_'Roles'}{/block}

{* website content *}
{block content}
	{embed $widgetPath . '@content.latte'}
		{block content}
			{control rolesControl}
		{/block}
	{/embed}
{/block}
