{* subtitle page *}
{block subtitle}{_'Roles settings'}{/block}

{* website content *}
{block content}
	{embed '../../../../UI/Templates/@offcanvas.latte', offcanvasId: roles}
		{block title}{_'Edit or add roles'}{/block}
		{block content}
			{snippet roles}
				{control rolesControl}
			{/snippet}
		{/block}
	{/embed}
	{embed '../../../../UI/Templates/@content.latte'}
		{block content}
			{snippet rolesItems}
				{control rolesControl:items}
			{/snippet}
		{/block}
	{/embed}
{/block}
