//
// customize bootstrap
//

$color-blue:  #2197f4;
$color-light: #f4f4f4;
$color-error: #ff3e59;
$color-white: #fff;

// add custom button to bootstrap
$theme-colors: (
  'custom': $color-blue,
);

// re-settings bootstrap
$border-radius: 0.1875rem;
$input-btn-focus-width: 0;

// bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

// sidebar-menu
@import '../../../node_modules/sidebar-menu-accgit/scss/utils/variables';
@import '../../../node_modules/sidebar-menu-accgit/scss/utils/functions';

// install
@import 'base/body';
@import 'layout/container';
@import 'layout/header';
@import 'components/custom';
@import 'components/steps';
@import 'components/forms';
@import 'components/spinner';
@import 'components/footer';
