{* Add administrator account *}
{embed '../../../../UI/Widgets/@form.latte', name: 'account', class: 'ajax mt-5'}
	{block form}
		{include input, name: 'username', columns: 6}
		{include input, name: 'email', columns: 6}
		{include input, name: 'password', columns: 6}
		{include input, name: 'verify', columns: 6}
		{include submit, name: 'send', columns: 12, buttonCanvas: false}
	{/block}
{/embed}
