{* subtitle page *}
{block subtitle}{_'Access settings'}{/block}

{* website content *}
{block content}
	<div class="content-box mb-3 bg-white shadow-sm">
		{snippet permissions}
			{control permissionsControl}
		{/snippet}
	</div>

	<div class="content-box mb-3 bg-white shadow-sm">
		{snippet permissionsRecords}
			{control permissionsControl:records}
		{/snippet}
	</div>
{/block}
