{* subtitle page *}
{block subtitle}{_'Privileges settings'}{/block}

{* website content *}
{block content}
	<div class="content-box mb-3 bg-white shadow-sm">
		{snippet privileges}
			{control privilegesControl}
		{/snippet}
	</div>

	<div class="content-box mb-3 bg-white shadow-sm">
		{snippet privilegesRecords}
			{control privilegesControl:records}
		{/snippet}
	</div>
{/block}
