{* subtitle page *}
{block subtitle}{_'Resources settings'}{/block}

{* website content *}
{block content}
	<div class="content-box mb-3 bg-white shadow-sm">
		{snippet resources}
			{control resourcesControl}
		{/snippet}
	</div>

	<div class="content-box mb-3 bg-white shadow-sm">
		{snippet resourcesRecords}
			{control resourcesControl:records}
		{/snippet}
	</div>
{/block}
