{* subtitle page *}
{block subtitle}{_'Roles settings'}{/block}

{* website content *}
{block content}
	<div class="content-box mb-3 bg-white shadow-sm">
		{snippet roles}
			{control rolesControl}
		{/snippet}
	</div>

	<div class="content-box mb-3 bg-white shadow-sm">
		{snippet rolesRecords}
			{control rolesControl:records}
		{/snippet}
	</div>
{/block}
