{templateType App\Modules\Backend\Access\AccessTemplate}

{* subtitle page *}
{block subtitle}{_'Dashboard'}{/block}

{* website content *}
{block content}
	{embed $widgetPath . '@content.latte'}
		{block content}
			<h5 class="border-bottom pb-2">{_'Dashboard'}</h5>
			<p>Here is content this website page.</p>
		{/block}
	{/embed}
{/block}
