<div class="offcanvas offcanvas-end" tabindex="-1" id="{$offcanvasId}" aria-labelledby="offcanvasRightLabel" style="width: 61rem;">

	<div class="offcanvas-header bg-light">
		<h5 id="offcanvasRightLabel">
			{block title}{/block}
		</h5>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>

	<div class="offcanvas-body">
		{block content}{/block}
	</div>
</div>
