{* install database tables *}
{embed '../../../../UI/Widgets/@form.latte', name: 'tables', class: 'ajax'}
	{block form}
		{include submit, name: 'send', columns: 12, buttonCanvas: false}
	{/block}
{/embed}
