{* install database tables *}
{embed '../../../../UI/Widgets/@forms.latte', name: 'tables', class: 'ajax'}
	{block form-content}
		{include form-errors-redraw}
		{include input-submit, name: 'send', columns: 12, buttonCanvas: false}
	{/block}
{/embed}
