
{* nanobar *}
<script src="{$basePath}/www/js/nanobar.min.js"></script>
<script>

	// Generate progressbar.
	var nanobar = new Nanobar();

	// Size bar 100% and and finish.
	nanobar.go(100);

</script>
