//
// errors style for forms
//

.form-errors {
  color: darken($color-error, 18);
  font-weight: 600;
  list-style-position: inside;
  padding: 0;
}

.form-errors-live {
  color: darken($color-error, 18);
  display: block;
  margin-top: rem(4);
  padding: rem(6) 0;
  font-weight: 600;
  @include font-size($font-size-sm);
  @include border-radius($border-radius);
}
