//
// spinner for ajax
//

.spinner {
  position: fixed;
  width: 100%;
  height: 0.2rem;
  z-index: 9999;
  top: 0;

  &:before,
  &:after {
    content: '';
    position: absolute;
  }

  &:after {
    width: 15rem;
    height: 0.2rem;
    background: #2197f4;
    box-sizing: border-box;
    animation: anim 1.5s linear infinite;
  }

  @keyframes anim {
    0% {left: 0; transform: translateX(-100%)}
    100% {left: 100%; transform: translateX(0%)}
  }
}
