{embed '../../Widgets/@forms.latte', name: 'factory', class: 'ajax'}
	{block form-content}
		{include input-select, name: 'user_id', columns: 12}
		{include input-select, name: 'role_id', columns: 12}
		{include input-submit, name: 'send', columns: 12, buttonCanvas: true}
	{/block}
{/embed}
