<!DOCTYPE html>
<html lang="{$lang}">

<head>
	<meta charset="utf-8">
	<meta name="description" content="{_'subtitle'}">
	<meta name="author" content="Zdeněk Papučík, zdenek.papucik@gmail.com">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{include subtitle|stripHtml|firstUpper}</title>
</head>

<body>

{include content|indent:1}

</body>
</html>
