
/*
    elements
*/
body {
    background-color: #eff2f7;
         font-family: 'Open Sans', sans-serif;
}

/*
    nanobar
*/
.nanobar {
    z-index: 9999;
     height: 2px;
      width: 100%;
        top: 0
}

.nanobar .bar {
    transition: height .3s;
    background: #acacac;
        height: 100%;
	 width: 0;
}

/*
    form errors
*/
ul.errors {
    color: #e95656;
}

ul.errors li {
    font-weight: 600;
}

/*
    flash messages
*/
.message {
    font-weight: 600;
}
