
/* sign-in
   ========================================================================== */
body {
    background: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
    padding: 18px;
}

/* gravatar
   ========================================================================== */
img.sign-gravatar {
    border-radius: 60px;
    margin-bottom: 20px;
}

/* form
   ========================================================================== */
.sign.in [type="email"],
.sign.in [type="password"] {
    margin: 0 0 -1px;
    position: relative;
    top: -1px;
}

.sign.in [type="email"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.sign.in [type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sign.in [type="submit"] {
    margin-top: 15px;
}

.sign.in input:focus{
    z-index: 1;
}

.sign.in input:first-child {
    top: -1px;
}

/* layout
   ========================================================================== */
.container {
    max-width: 280px;
    padding: 25px 25px 0;
}

.container.box {
    background: #fff;
    border-radius: 3px;
}

.container.box h1 {
    margin-bottom: 8px;
}

.container.box p {
    color: #9e9e9e;
}

.footer {
    color: #9e9e9e;
    margin-top: 25px;
}

@media only screen and (min-width: 768px) {

    html body {
	padding-top: 50px;
    }

    .container {
	max-width: 360px;
    }

    .sign.in [type="email"],
    .sign.in [type="password"],
    .sign.in [type="submit"] {
	height: 44px;
    }

}

@media only screen and (min-width: 1170px) {

    html body {
	padding-top: 100px;
    }

}
