
/* install
   ========================================================================== */
body {
    background: #fff;
    color: #787878;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 6rem;
}

h2 {
    color: #545454;
    margin-bottom: 35px;
}

form {
    margin-top: 3.5rem;
}

/* ajax spinner
   ========================================================================== */
#spinner {
    color: rgba(0,0,0,0.1);
    font-size: 60px;
    position: fixed;
    z-index: 999;
}

/* other
   ========================================================================== */

.steps {
    font-weight: 600;
    margin: 0;
    padding-top: 3px;
}

.info {
    font-weight: 600;
    margin-bottom: 8px;
}

.delete {
    background: #f4f4f4;
    border-radius: 3px;
    color: #e03e3e;
    font-weight: 600;
    margin-bottom: 8px;
    padding: 10px 15px;

}

.delete p {
    margin-bottom: 0;
}

/* layout
   ========================================================================== */
.container {
    max-width: 1170px;
}

.header {
    background: #f4f4f4;
    padding: 11px 15px 8px;
}

.content {
    margin-top: 30px;
    padding: 0 20px;
}

.footer {
    color: #949494;
}

/* message
   ========================================================================== */
.message {
    border-radius: 0;
    margin-bottom: 20px;
    padding: 15px 0;
}

.message.success {
    background: #ececec;
    color: #565656;
    font-weight: 600;
}

.flash {
    padding: 0 20px;
}

@media only screen and (min-width: 768px) {

    h2 {
	font-size: 3.250em;
    }

    p  {
	font-size: 1em;
    }

    .content {
	margin-top: 100px;
    }

    .screen.reader {
	display: block;
    }

}
