
/*
    dark theme dropdown menu
*/
.dropdown .employ-toggle.click {
       transition: all 0.1s ease-in-out;
            color: #acacac;
}

.dropdown .employ-toggle.click:hover {
    background-color: #f2f2f2;
}

.dropdown ul.expand-dropdown li a {
    background-color: rgb(29, 34, 44);
	       color: #9197a1;
}

.dropdown ul.expand-dropdown li a:hover {
    background-color: rgb(39, 48, 63);
               color: white;
}
