
/* light color for responsive menu
   ========================================================================== */
.nav .click {
    color: #dcdcdc;
    transition: all 0.1s ease-in-out;
}

.nav .click:hover {
    background: #f2f2f2;
    color: #5c5c5c;
}

.sidebar .title {
    background: #fff;
    border-bottom: 1px #f4f4f4 solid;
    color: #494949;
    font-weight: 600;
}

.sidebar ul.menu {
    background: #fff;
}

.sidebar ul.menu li {
    color: #8a8a8a;
}

.sidebar ul.menu li ul li a {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #494949;
}

.sidebar ul.menu li ul li a:hover {
    background: #f4f4f4;

}

.sidebar ul.menu li ul li a.current {
    background: #f4f4f4;
}

.sidebar ul.menu li ul li.parent a.current {
    background: #f4f4f4;
}

.sidebar ul.menu li ul li.parent .submenu a.current {
    background: #f4f4f4;
}

.sidebar ul.menu li ul li.parent:before {
    color: #b9b9b9;
}

.sidebar ul.menu li ul li.parent.active:before {
    color: #494949;
}

.sidebar ul.menu li ul li ul {
    border-left: 1px solid #ebebeb;
}

/* notice
   ========================================================================== */
.sidebar span.notice {
    background: #fd3f5b;
    color: #fff;
}

.sidebar a.current span.notice {
    background: #fff;
    color: #494949;
}

@media only screen and (min-width: 768px) {

    .sidebar {
	background: #fff;
    }

}

/* perfect scrollbar
   ========================================================================== */
.ps__thumb-y {
    background: #d3d3d3;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
    background: #d3d3d3;
}
