
/* dashboard
   ========================================================================== */
body {
    background: #f4f4f4;
    min-height: 100px;
}

/* header
   ========================================================================== */
.header {
    display: none;
    height: 55px;
    padding: 7px 20px;
}

.header ul.breadcrumb  {
    list-style: none;
    margin: 8px 0 0 15px;
}

.header ul.breadcrumb li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.header ul.breadcrumb li i.fa {
    font-size: 18px;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.header ul.breadcrumb li a {
    color: #bfbfbf;
    text-decoration: none;
}

.header ul.breadcrumb li a:hover,
.header ul.breadcrumb li a.current {
    color: #7b7d7e;
}

/* user display in header
   ========================================================================== */
.user.panel {
    display: none;
}

.logged.in ul {
    list-style: none;
    margin: 0;
}

.logged.in ul li {
    margin: 0;
}

.logged.in ul li.user {
    color: #7b7d7e;
    margin-right: 20px;
    margin-top: 8px;
}

.logged.in ul li.gravatar img {
    border-radius: 30px;
    display: block;
    margin-top: 5px;
    max-width: 33px;
}

/* user logged display in sidebar
   ========================================================================== */
.logged.sidebar {
    display: block;
}

.logged.sidebar ul {
    background: #283244;
    margin-bottom: 0;
    padding: 10px 0 10px 25px;
}

.logged.sidebar li {
    color: #fff;
    list-style: none;
    margin: 0;
}

.logged.sidebar li a {
    color: #fff;
    margin-left: 5px;
}

.logged.sidebar li a:hover {
    color: #fff;
}

.logged.sidebar li.user {
    color: #eceef1;
    font-weight: 600;
    padding: 3px 0 0 25px;
}

.logged.sidebar li.gravatar img {
    border-radius: 30px;
    display: block;
    max-width: 33px;
}

/* custom dropdown menu
   ========================================================================== */
.dropdown {
    margin-right: 25px;
    margin-top: 9px;
}

.dropdown ul.expand-dropdown li a i.fa {
    padding-right: 12px;
}

.dropdown ul.expand-dropdown li {
    min-width: 160px;
}

.dropdown ul.expand-dropdown {
    margin-top: 14px;
}

.dropdown .employ-toggle.click:hover {
    background: #fff;
}

/* content
   ========================================================================== */
.content .box {
    display: block;
    margin-top: 2px;
}

.content .box.style {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 25px;
}

@media only screen and (min-width: 768px) {

    .content .box {
	margin-top: 0
    }

    .header {
	display: block;
    }

    .content {
	padding: 0 35px;
    }

    .user.panel {
	display: block;
    }

    .logged.in ul li.user,
    .logged.sidebar {
	display: none;
    }

}

@media only screen and (min-width: 1024px) {

    .logged.in ul li.user {
	display: block;
    }

    .content .box {
	margin-top: 0;
    }

}
