
/* custom
   ========================================================================== */
label.label {
    padding-top: 6px;
}

ul.errors {
    color: #e95656;
}

ul.errors li {
    font-weight: 600;
}

/* ajax spinner
   ========================================================================== */
#spinner {
    color: rgba(0,0,0,0.1);
    font-size: 60px;
    position: fixed;
    z-index: 999;
}

/* buttons colors
   ========================================================================== */
.button.primary {
    background: #048ffa;
}

.button.primary:hover {
    background: #0487ec;
}
