
/*
    sign in
*/
img.sign-gravatar {
    margin-bottom: 20px;
    border-radius: 60px;
}

/*
    form
*/
.sign.in [type="email"],
.sign.in [type="password"] {
    position: relative;
      margin: 0 0 -1px;
         top: -1px;
}

.sign.in [type="email"] {
    border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;

}

.sign.in [type="password"] {
    border-top-right-radius: 0;
     border-top-left-radius: 0;
}

.sign.in [type="submit"] {
    margin-top: 15px;
}

.sign.in input:focus{ z-index: 1; }
.sign.in input:first-child { top: -1px; }

/*
    layout
*/
.container {
    margin-top: 18px;
     max-width: 280px;
       padding: 25px 25px 0;
}

.container.box {
    background-color: white;
       border-radius: 3px;
}

.container.box h1 {
    margin-bottom: 8px;
}

.container.box p {
    color: #9e9e9e;
}

.footer {
    margin-top: 25px;
         color: #9e9e9e;
}

@media only screen and (min-width: 768px) {

    html body {
	padding-top: 50px;
    }

    .container {
	max-width: 360px;
    }

    .sign.in [type="email"],
    .sign.in [type="password"],
    .sign.in [type="submit"] {
	height: 44px;
    }

}

@media only screen and (min-width: 1170px) {

    html body {
	padding-top: 100px;
    }

}
