
/*
    elements
*/
body {
    font-family: 'Open Sans', sans-serif;
}

/*
    nanobar
*/
.nanobar {
    z-index: 9999;
     height: 2px;
      width: 100%;
        top: 0
}

.nanobar .bar {
    transition: height .3s;
    background: #acacac;
        height: 100%;
	 width: 0;
}

/*
    form errors
*/
ul.errors {
    color: #e95656;
}

ul.errors li {
    font-weight: 600;
}

/*
    ajax spinner
*/
#spinner {
    font-size: 60px;
     position: fixed;
      z-index: 999;
        color: rgba(0,0,0,0.1);
}

.button.primary {
    background-color: #048ffa;
}

.button.primary:hover {
    background-color: #0487ec;
}
