
/* responsive menu
   ========================================================================== */
.nav .click {
    border-radius: 30px;
    cursor: pointer;
    float: right;
    font-size: 14px;
    margin: 15px 20px 0 0;
    padding: 3px 8px;
}

.nav .click:before {
    content: "\f0c9";
    font-family: "FontAwesome";
    font-size: 14px;
}

.nav .responsive {
    display: none;
}

.nav .expandable {
    display: block;
}

/* sidebar
   ========================================================================== */
.sidebar .title {
    font-size: 1.188em;
    height: 56px;
    padding: 15px 20px 0 25px;
}

/* notice
   ========================================================================== */
.sidebar span.notice {
    border-radius: 30px;
    font-size: small;
    margin-left: 30px;
    padding: 0 6px 1px;
}

.sidebar ul.menu {
    height: 460px;
    list-style: none;
    margin: 0;
    padding: 0 25px;
}

.sidebar ul.menu ul {
    font-size: 100%;
    list-style: none;
    margin: 0;
}

.sidebar ul.menu li {
    line-height: 34px;
    margin-top: 15px;
    padding: 0;
}

.sidebar ul.menu li span.name {
    font-size: 0.83em;
    text-transform: uppercase;
}

.sidebar ul.menu li ul li {
    margin: 0;
    padding-top: 0;
}

.sidebar ul.menu li ul li a {
    display: block;
    margin-bottom: 2px;
    padding: 0 10px;
    text-decoration: none;
}

.sidebar ul.menu li ul li ul {
    display: none;
    margin: 15px 10px;
    padding-left: 10px;
}

.sidebar ul.menu li ul li.parent:before {
    content: "\f106";
    float: right;
    font-family: "FontAwesome";
    margin: 0 15px 0 0;
}

.sidebar ul.menu li ul li.parent.active:before {
    content: "\f107";
}

/* perfect scrollbar
   ========================================================================== */
.scrollbar {
    overflow: hidden;
    position: relative;
}

.ps__thumb-y {
    width: 4px;
}

.ps__rail-y {
    margin: 10px 0;
    width: auto;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
    width: 4px;
}

@media only screen and (min-width: 768px) {

    .nav .click {
	display: none;
    }

    .nav .responsive {
	display: block;
    }

    .sidebar {
	bottom: 0;
	position: fixed;
	top: 0;
	width: 285px;
    }

    .content-wrapper {
	margin-left: 285px;
    }

}

@media only screen and (min-height: 768px) {

    .sidebar ul.menu {
	height: 700px;
    }

}
