
/*
    install
*/
body {
    background-color: white;
      padding-bottom: 6rem;
	       color: #787878;
}

h2 {
    margin-bottom: 35px;
            color: #545454;
}

.steps {
    padding-top: 3px;
    font-weight: 600;
         margin: 0;
}

.info {
    margin-bottom: 8px;
      font-weight: 600;
}

.delete {
    background-color: #f4f4f4;
       margin-bottom: 8px;
       border-radius: 3px;
         font-weight: 600;
             padding: 10px 15px;
               color: #e03e3e;
}

.delete p {
    margin-bottom: 0;
}

/*
    layout
*/
.container {
    max-width: 1170px;
}

.header {
    background-color: #f4f4f4;
          padding: 11px 15px 8px;
}

.content {
    margin-top: 30px;
       padding: 0 20px;
}

.footer {
    color: #949494;
}

/*
    message
*/
.message {
    margin-bottom: 20px;
    border-radius: 0;
          padding: 15px 0;
}

.message.success {
    background: #ececec;
         color: #565656;
}

.flash {
    padding: 0 20px;
}

/*
    form
*/
form {
    margin-top: 3.5rem;
}

/*
    buttons
*/
.button.install {
    background-color: #048ffa;
          margin-top: 5px;
               color: white;
}

.button.install:hover {
    background-color: #0487ec;
}

/*
    display 768px
*/
@media only screen and (min-width: 768px) {

    /*
	layout
    */
    .content { margin-top: 100px; }
    .screen.reader { display: block; }

    /*
	elements
    */
    h2 { font-size: 3.250em; }
    p  { font-size: 1em; }

}
