
/* dark color for dropdown menu
   ========================================================================== */
.dropdown .employ-toggle.click {
    color: #acacac;
    transition: all 0.1s ease-in-out;
}

.dropdown .employ-toggle.click:hover {
    background: #f2f2f2;
}

.dropdown ul.expand-dropdown li a {
    background: #1d222c;
    color: #9197a1;
}

.dropdown ul.expand-dropdown li a:hover {
    background: #27303f;
    color: #fff;
}
